* {
    box-sizing: border-box;
    margin: 0;
    font-family: Caviar Dreams,sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #eae3d8;
    color: #12607a;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#new-tasks-form {
    display: flex;
}

button,input {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: #e9ceb577;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: #776251;
}

#new-task-input::placeholder{
    color: #a7907b;
}

#new-task-submit {
    font-size: 1.25rem;
    font-weight: 700;
    color: #12607a;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.5;
}


main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
 font-size: 1.5rem;
 font-weight: 300;
 margin-bottom: 1rem;
 color: #12607a8f;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: #dfc4aa;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    font-size: 1.25rem;
    width: 100%;
    display: block;
    color: #12607a;
}

#tasks .task .content .text:not(:read-only){
    color: #ffffff;

}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}


.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.5;
}

.task .actions .edit {
    color: #12607a;
}

.task .actions .delete {
    color: crimson;
}
